# Dependencies
node_modules/

# Build output
dist/

# Environment
.env
.env.local

# Prisma
prisma/*.db
prisma/*.db-journal

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

/src/generated/prisma

# Github action ssh key
ga
ga.pub